@using ShoyerNetBlazor.Components.Pages
@inherits LayoutComponentBase

<div class="sidebar">
	<NavMenu />
</div>

<main class="main">
	<ErrorBoundary>
		<ChildContent>
			<Home />
			<AboutUs />
			<Services />
			<ContactUs @rendermode="InteractiveServer" />
		</ChildContent>
		<ErrorContent>
			<p class="fw-bold text-danger">@context.Message</p>
		</ErrorContent>
	</ErrorBoundary>
</main>

<Footer />

<!-- Scroll Top -->
<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Preloader -->
<div id="preloader"></div>
