 <!-- ABOUT US -->
<section class="site-section about-us-section" id="about-us-section">
    <div class="container">

        <div class="row mb-5 pt-0 site-section">
            <div class="col-md-6 align-self-center">
                <h3 class="section-title-sub text-primary">About Us</h3>
                <h2 class="section-title mb-4">Who Are You Guys</h2>

                <p>At WE4U.Solutions, we specialize in delivering custom software development, app development, and seamless system integration solutions tailored to your unique business needs. As a boutique IT firm, we take a highly personalized approach to every project, ensuring that your technology solutions are not just functional but perfectly aligned with your strategic goals.</p>
                <p class="mt-4"><a href="#" class="spepcial_link">Read more about us</a></p>
            </div>
            <div class="col-md-5 ml-auto img-overlap">
                <div class="img-1"><img src="/we4u-assets/images/sq_img_6.jpg" alt="Image" class="img-fluid img-shadow"></div>
                <div class="img-2"><img src="/we4u-assets/images/sq_img_10.jpg" alt="Image" class="img-fluid img-shadow"></div>
            </div>
        </div>

        <div class="row pb-0 border-top pt-5 block__19738 section-counter">

            <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
                <div class="d-flex align-items-center justify-content-center mb-2">
                    <span class="icon-line-mobile mr-3"></span>
                    <strong class="number" data-number="650">0</strong>
                </div>
                <span class="caption">Completed Projects</span>
            </div>

            <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
                <div class="d-flex align-items-center justify-content-center mb-2">
                    <span class="icon-line-lightbulb mr-3"></span>
                    <strong class="number" data-number="25">0</strong>
                </div>
                <span class="caption">Years Of Experience</span>
            </div>


        </div>

    </div>
</section>
@code {

}
