@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.SignalR.Client
@using Microsoft.Extensions.DependencyInjection
@using ShoyerNetBlazor.BL.Interfaces
@using ShoyerNetBlazor.Models

@inject IMicrosoftService MicrosoftService
@inject NavigationManager NavigationManager

<!-- Contact Section -->
<section id="contact" class="contact section">

	<div class="container position-relative" data-aos="fade-up" data-aos-delay="100">

		<div class="row gy-4">

			<div class="col-lg-5">
				<div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
					<i class="bi bi-geo-alt flex-shrink-0"></i>
					<div>
						<h3>Address</h3>
						<p>75 East Liberty Street, Toronto, ON M6K 3R3, CANADA</p>
					</div>
				</div><!-- End Info Item -->

				<GoogleMap @rendermode="StaticRenderMode" />

				<div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
					<i class="bi bi-telephone flex-shrink-0"></i>
					<div>
						<h3>Call Us</h3>
						<p>+1 647 335 2805</p>
					</div>
				</div><!-- End Info Item -->

				<div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
					<i class="bi bi-envelope flex-shrink-0"></i>
					<div>
						<h3>Email Us</h3>
						<p>contactus@we4u.solutions</p>
					</div>
				</div><!-- End Info Item -->

			</div>

			<div class="col-lg-7">
				@if (!_isSubmitted)
				{
					<EditForm Model="ContactForm" OnValidSubmit="Submit" FormName="ContactForm">
						<DataAnnotationsValidator />
						<div class="row gy-4">
							<div class="col-lg-6 mb-3">
								<label>First Name:</label>
								<InputText @bind-Value="ContactForm.FirstName" class="form-control" />
								<ValidationMessage For="@(() => ContactForm.FirstName)" class="text-danger" />
							</div>

							<div class="col-lg-6 mb-3">
								<label>Last Name:</label>
								<InputText @bind-Value="ContactForm.LastName" class="form-control" />
								<ValidationMessage For="@(() => ContactForm.LastName)" class="text-danger" />
							</div>
						</div>

						<div class="row">
							<div class="col-12 mb-3">
								<label>Email Address:</label>
								<InputText @bind-Value="ContactForm.Email" class="form-control" />
								<ValidationMessage For="@(() => ContactForm.Email)" class="text-danger" />
							</div>
						</div>

						<div class="row">
							<div class="col-12 mb-3">
								<label>Telephone Number:</label>
								<InputText @bind-Value="ContactForm.PhoneNumber" class="form-control" />
							</div>
						</div>

						<div class="row">
							<div class="mb-3">
								<label>Message:</label>
								<InputTextArea @bind-Value="ContactForm.Message" class="form-control" />
								<ValidationMessage For="@(() => ContactForm.Message)" class="text-danger" />
							</div>
						</div>
						<button type="submit">Submit</button>
					</EditForm>
				}
				else
				{
					<div class="alert alert-success" role="alert">
						<h4 class="alert-heading">Thank you!</h4>
						<p>Your message has been sent successfully.</p>
					</div>
				}
			</div><!-- End Contact Form -->
		</div>
	</div>

</section><!-- /Contact Section -->
@code {

	[SupplyParameterFromForm]
	private ContactForm ContactForm { get; set; }
	private bool _isSubmitted = false;

	protected override void OnInitialized() => ContactForm ??= new();


	// Define a property that returns null, which tells Blazor to use static SSR.
	private IComponentRenderMode? StaticRenderMode => null;


	private async Task Submit()
	{
		var body = "<html><body><h1>Message from we4u.solutions</h1>" +
		$"<p>First Name: {ContactForm.FirstName}</p>" +
		$"<p>Last Name: {ContactForm.LastName}</p>" +
		$"<p>Email: {ContactForm.Email}</p>" +
		$"<p>Phone Number: {ContactForm.PhoneNumber}</p>" +
		$"<p>Message: {ContactForm.Message}</p>" +
		"</body></html>";

		await MicrosoftService.SendMail($"A contact request from website: {ContactForm.FirstName} {ContactForm.LastName}",
			body, new List<string> { "roy@we4u.solutions" });

		_isSubmitted = true;
	}
}
