<section class="site-section services-section bg-light block__62849" id="services-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12 text-center" data-aos="fade">
                <h3 class="section-title-sub text-primary">Our Services</h3>
                <h2 class="section-title mb-3">Services</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-md-6 col-lg-4 mb-4 mb-lg-5">

                <a href="service-single.html" class="block__16443 text-center d-block">
                    <span class="custom-icon mx-auto"><span class="icon-line-tools d-block"></span></span>
                    <h3>App Development</h3>
                    <p>Our expert app development team creates dynamic, user-friendly mobile and web applications that engage your audience and boost your business. From iOS and Android apps to responsive web applications, we design and build products that deliver outstanding performance and seamless experiences across all devices.</p>
                </a>

            </div>
            <div class="col-6 col-md-6 col-lg-4 mb-4 mb-lg-5">

                <a href="service-single.html" class="block__16443 text-center d-block">
                    <span class="custom-icon mx-auto"><span class="icon-line-lightbulb d-block"></span></span>
                    <h3>Custom Softer Development</h3>
                    <p>We build scalable, secure, and high-performance software solutions designed to solve complex problems and drive innovation within your organization. Whether you're looking to streamline operations, enhance user experience, or create a competitive edge, our team works closely with you to develop applications that are intuitive, reliable, and future-proof.</p>
                </a>

            </div>
            <div class="col-6 col-md-6 col-lg-4 mb-4 mb-lg-5">

                <a href="service-single.html" class="block__16443 text-center d-block">
                    <span class="custom-icon mx-auto"><span class="icon-line-laptop d-block"></span></span>
                    <h3>System Integration</h3>
                    <p>We help your business connect and optimize disparate systems, ensuring smooth data flow, improved workflows, and enhanced productivity. With our integration solutions, we ensure your applications, platforms, and services work harmoniously together, eliminating inefficiencies and enabling real-time insights.</p>
                </a>

            </div>
            
        </div>

        <div class="row">
            <div class="col-12 text-center">
                <a href="#" class="btn btn-primary btn-md">View All Services</a>
            </div>
        </div>
    </div>
</section>

@code {

}
